@import "toastr";

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.toast-success {
    background-color: #51a351 !important;
}

.toast-error {
    background-color: #bd362f !important;
}
.toast-info {
    background-color: #2f96b4 !important;
}
.toast-warning {
    background-color: #f89406 !important;
}

.loader {
    width: 5rem !important;
    height: 5rem !important;
    color: #0d6efd;
    border-width: 6px;
}

.loader-pack {
    width: fit-content;
    margin: 0 auto;
}

.loader-msg {
    margin: 1.2rem auto;
    width: fit-content;
    color: #0d6efd;
    font-size: 1.1rem;
}

.loader-block {
    position: fixed;
    top: 42%;
    left: 0;
    width: 100%;
    display: none;
}

.image-close-button {
    position: absolute;
    margin: 5px;
}
